<h1>Editing competing user</h1>

<%= render "form", competing_user: @competing_user %>

<br>

<div>
  <%= link_to "Show this competing user", @competing_user %> |
  <%= link_to "Back to competing users", competing_users_path %>
</div>
