<p style="color: green"><%= notice %></p>

<h1>Competing users</h1>

<div id="competing_users">
  <% @competing_users.each do |competing_user| %>
    <%= render competing_user %>
    <p>
      <%= link_to "Show this competing user", competing_user %>
    </p>
  <% end %>
</div>

<%= link_to "New competing user", new_competing_user_path %>
