.competing-teams .home-team .details .team-name{
    width: 150px;
}

.competing-teams .away-team .details .team-name{
    width: 150px;
}

.match {
    border-bottom: 0.0625rem solid #DBDBDB;
}

.dropdown span .flag {
    height: 2rem;
    border-radius: 0.25rem;
}

.dropdown-item span .flag {
    height: 1rem;
}

#dropdownMenuButton1 {
    margin-bottom: 1rem;
}

.rules-invitation {
    color: #374557;
}

.rules-invitation:hover {
    color: #fff;
}

.competing-teams .home-team .flag {
    height: 3.75rem;
    border-radius: 0.5rem;
}

.competing-teams .away-team .flag {
    height: 3.75rem;
    border-radius: 0.5rem;
}
